
<link rel="stylesheet" href="/assets/css/header.css">


<header>
  <header class="header">
    <div class="container">
      <li class="title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </li>
      <nav class="navbar">
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/tabs/Categories' | relative_url }}">Categories</a></li>
            <li><a href="{{ '/tabs/Archives' | relative_url }}">Archieves</a></li>
            <li><a href="{{ '/tabs/About' | relative_url }}">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
    
