<header class="header-body">
    <div class="header-container">
        <div class="header-title">
            <a href="{{'/' | relative_url}}"> {{site.title}} </a>
        </div>
        <nav class="page-navbar">
            <ul>
                <li><a href="{{'/tabs/Posts'|relative_url}}">Posts</a></li>
                <li><a href="{{'/tabs/Category'|relative_url}}">Category</a></li>
                <li><a href="{{'/tabs/Archives'|relative_url}}">Archieves</a></li>
                <li><a href="{{'/tabs/About'|relative_url}}">About</a></li>
            </ul>
        </nav>
    </div>
</header>