---
layout: default
---
<link rel="stylesheet" href="/assets/css/style.css">

<main>
    <section class="hero">
        <h1>Title</h1>
        <p class="subtitle">Subtitle</p>
        <div class="buttons">
            <button class="btn-light">Button</button>
            <button class="btn-dark">Button</button>
        </div>
    </section>

    <section class="quotes">
        <h2>Heading</h2>
        <p class="subheading">Subheading</p>
        <div class="quote-cards">
            <div class="quote-card">
                <blockquote>“Quote”</blockquote>
                <p class="quote-title">Title</p>
                <p class="quote-description">Description</p>
            </div>
            <div class="quote-card">
                <blockquote>“Quote”</blockquote>
                <p class="quote-title">Title</p>
                <p class="quote-description">Description</p>
            </div>
            <div class="quote-card">
                <blockquote>“Quote”</blockquote>
                <p class="quote-title">Title</p>
                <p class="quote-description">Description</p>
            </div>
            <div class="quote-card">
                <blockquote>“Quote”</blockquote>
                <p class="quote-title">Title</p>
                <p class="quote-description">Description</p>
            </div>
        </div>
    </section>
</main>